:root {
  --primary-color: #63ffff;
  --secondary-color: #fef2fc;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
  margin: 0 auto;
  display: block;
  background-color: var(--primary-color);
  text-align: center;
  width: 70%;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1em;
}
